html,
body {
  padding: 0;
  margin: 0;
}
body {
  padding: 0 50px;
  font-family: Roboto, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  box-shadow: 5px 2px 6px -4px #e7e7e7, -5px 2px 6px -4px #e7e7e7;
  padding: 0 20px;
  border-radius: 3px;
  margin: 0;
}
.header-right-side {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header-right-side > a {
  font-size: 1.5rem;
}
a {
  color: black;
  text-decoration: none;
}
.header-button {
  height: 40px;
  width: 140px;
}
button {
  border: 1px solid #ec6528;
  border-radius: 5px;
  color: #ec6528;
  padding: 5px;
  background-color: white;
  transition: background-color 0.3s, ease 0.3s;
}
button:hover {
  border: none;
  background-color: #ec6528;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #fef8f5;
  height: 88vh;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  padding: 0 30px;
}
.hero-text > p {
  font-size: large;
}
.hero-button {
  height: 40px;
  width: 130px;
  background-color: #ec6528;
  color: white;
  margin-top: 25px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
}
.hero-heading {
  font-size: 4rem;
  margin: 0;
}
.hero-img {
  height: auto;
  width: 45%;
}
.hero-button:hover {
  background-color: white;
  color: #ec6528;
  border: 1px solid #ec6528;
}
.about-us {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}
.about-us-text {
  width: 40%;
}
.about-us-text > h2 {
  font-size: 2.5rem;
  font-weight: 550;
}
.about-us--img {
  width: 40%;
  height: auto;
}
.about-us-uses {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.about-us-uses-use {
  width: 49%;
}
.about-us-uses-use > p {
  font-size: 18px;
}
.about-us-uses-use > h2 {
  font-size: xx-large;
}
.about-us-uses-use > svg {
  height: auto;
  width: 15%;
  stroke: #ec6528;
}
